<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style_singup.css">
</head>
<body>
    <div class="container">
        <p>Looks like you don't have account <strong>singup</strong> </p>
        <h2>Sign Up</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p
    </div>
</body>
</html>