
body{
    background-color: aqua;
}
#navbar{
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
}
#nav-links{
    display: flex;
    align-items: center;
}
#logo{
    color: white;
    margin-left: 20px;
}
#nav-links{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    font-weight: bold;
    margin-right: 20px;
}
.nav-link{
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-left: 30px;
    transition: 0.5s;
}
.nav-link:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
}
.home{
    height:41vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
text-align: right;
}
#image{
    width: 395px;
    border-radius: 10px;
    transition: 0.5s;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.profile::after, .profile::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  background-image: conic-gradient( from var(--angle), transparent 70%, blue);
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 2s spin linear infinite;
}
.profile::before{
    filter: blur(1.5rem);
    opacity: 0.5s;
}
@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
    
}
/*#image:hover{
    transform: scale(1.1);
}*/
.profile{
    margin-left: 50px;
    width: 405px;
    position: relative;
    padding:5px;
}
#btn-1,#btn-2{
    width:100px;
    transition: 0.5s;
}
#btn-1:active{
transform:scale(0.95);
}
#btn-2:active{
    transform: scale(0.95);
}
    
